@font-face {
	font-family: stfont1;
	src: url("Final_Frontier.ttf");
}

@font-face {
    font-family: stfont2;
    src: url("Federation.ttf");
}

body {
	background-image: url("nasa-1.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: grid;
}

.body {
    height: 100vh;
    overflow: auto;
}

#custom-color {
    background-color: black;
}

.logo {
	font-family: stfont, serif;
	font-size: 10vh;
    color: white;
}

table {
    border-style:solid;
}

th {
    border-style: solid;
    width: 150px;
    border-color: black;
    text-align: center;
}

input {
    border-radius: 3px;
}

td > input.btn.btn-danger{
    width: 100%;
}

.navbar-brand {
    font-family: stfont1, serif;
}

.navbar {
    font-family: stfont2, serif;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
    color: #f8f9fa;
}

.navbar-nav > li > div > a:hover {
    background-color: #6c757d;
    color: #fff;
}

.navbar-nav > li > div > a {
    background-color: #343a40;
    color: #f8f9fa;
}

.jumbotron {
    background-color: #343a40;
    margin-top: 5%;
    color: #f8f9fa;
    opacity: 0.95;
}

.federation {
    font-family: stfont2, serif;
}

.final-frontier {
    font-family: stfont1, serif;
}

#dark-table{
    background-color: #1a1c1f;
}

#item-info {
    padding-top: 5%;
    padding-bottom: 5%;
}

.jumbotron.bg-dark-extra {
    background-color: #1a1c1f;
}

.jumbotron.scroll-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.col.right {
    text-align: right;
}

.scoll-content {
    font-family: sans-serif;
    max-height: 30vh;
    overflow: auto;
}

.align-middle.full-wide {
    width: 100%;
}