{% extends "form_template.html" %}

{% block form_specifics %}
    <div class="form-row">
        <div class="col-md-4">
            {{ form.first_field(class="form-control", placeholder=form.first_field.label.text) }}
        </div>
        <div class="col-md-4">
            {{ form.second_field(class="form-control", placeholder=form.second_field.label.text) }}
        </div>
        <div class="col-md-4">
            {{ form.third_field(class="form-control", placeholder=form.third_field.label.text) }}
        </div>
    </div>
    <div class="form-group">
        {{ form.fourth_field.label }}{{ form.fourth_field(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fifth_field.label }}{{ form.fifth_field(class="form-control") }}
    </div>
    <div class="form-row">
        {% if display_species %}
            <div class="form-group col-md-6">
                {{ form.sixth_field.label }}{{ form.sixth_field(class="form-control") }}
            </div>
        {% endif %}
        {% if display_series %}
            <div class="form-group col-md-6">
                {{ form.seventh_field.label }}{{ form.seventh_field(class="form-control") }}
            </div>
        {% endif %}
    </div>
{% endblock %}