{% extends "form_template.html" %}

{% block form_specifics %}
            <p>{{ form.first_field.label }}{{ form.first_field() }}</p>
            <p>{{ form.second_field.label }}</p>
            <p>{{ form.second_field.form.month.label }}{{ form.second_field.form.month() }}
            {{ form.second_field.form.day.label }}{{ form.second_field.form.day() }}
            {{ form.second_field.form.year.label }}{{ form.second_field.form.year() }}</p>
            <p>{{ form.third_field.label }}{{ form.third_field() }}</p>
{% endblock %}