{% extends "single_table_display.html" %}

{% block content_form %}
<div class="jumbotron bg-dark text-light">
    <fieldset>
        <legend>{{ header}}</legend>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="col">
                    {{ form.first_field(class="form-control", placeholder=form.first_field.label.text) }}
                </div>
                <div class="col">
                    {{ form.second_field(class="form-control", placeholder=form.second_field.label.text) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.third_field(class="form-control", placeholder=form.third_field.label.text) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.fourth_field.label }}{{ form.fourth_field(class="form-control") }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form.fifth_field.label }}{{ form.fifth_field(class="form-control") }}
                </div>
            </div>
            <div class="form-row">
                {% if display_species %}
                    <div class="col">
                        {{ form.sixth_field.label }}{{ form.sixth_field(class="form-control") }}
                    </div>
                {% endif %}
                {% if display_series %}
                    <div class="col">
                        {{ form.seventh_field.label }}{{ form.seventh_field(class="form-control") }}
                    </div>
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </fieldset>
</div>
{% endblock %}