{% extends "single_table_display.html" %}

{% block content_form %}
<div class="jumbotron bg-dark text-light">
    <fieldset>
        <legend>{{ header}}</legend>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
            {{ form.first_field(class="form-control", placeholder="{{form.firs_field.label}}}") }}
            {{ form.second_field(class="form-control", placeholer="{{ form.second_field.label }}") }}
            </div>
            {{ form.third_field.label }}{{ form.third_field() }}
            {{ form.fourth_field.label }}{{ form.fourth_field() }}
            {{ form.fifth_field.label }}{{ form.fifth_field() }}
            {% if display_species %}
            {{ form.sixth_field.label }}{{ form.sixth_field() }}
            {% endif %}
            {% if display_series %}
            {{ form.seventh_field.label }}{{ form.seventh_field() }}
            {% endif %}
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </fieldset>
</div>
{% endblock %}