{% extends "form_template.html" %}

{% block form_specifics %}
            <!--{% if updating %}-->
            <!--<form action="/edit-actors?id={{id}}" method="POST">-->
            <!--{% else %}-->
            <!--<form action=method="POST">-->
            <!--{% endif %}-->
                <!--{{ form.hidden_tag() }}-->
    <div class="form-row">
        <div class="form-group col-md-6">
        {{ form.fname_field.label }}{{ form.fname_field(class="form-control", placeholder=form.fname_field.label.text) }}
        </div>
        <div class="form-group col-md-6">
        {{ form.lname_field.label }}{{ form.lname_field(class="form-control", placeholder=form.lname_field.label.text) }}
        </div>
    </div>
    {{ form.birthday_field.label }}
    <div class="form-row">
        <div class="col-md-4">
            {{ form.birthday_field.form.month(class="form-control", placeholder=form.birthday_field.form.month.label.text) }}
        </div>
        <div class="col-md-4">
            {{ form.birthday_field.form.day(class="form-control", placeholder=form.birthday_field.form.day.label.text) }}
        </div>
        <div class="col-md-4">

            {{ form.birthday_field.form.year(class="form-control", placeholder=form.birthday_field.form.year.label.text) }}
        </div>
    </div>
    <div class="form-group">
        {{ form.imdb_field.label }}{{ form.imdb_field(class="form-control") }}
    </div>
{% endblock %}