{% extends "form_template.html" %}

{% block form_specifics %}
    <div class="form-group">
        {{ form.first_field.label }}{{ form.first_field() }}
    </div>

    <div class="form-group">
        {{ form.second_field.label }}
         <div class="form-row">
            <div class="col-md-4">
                {{ form.second_field.form.month(class="form-control", placeholder=form.second_field.form.month.label.text) }}
            </div>
            <div class="col-md-4">

                {{ form.second_field.form.day(class="form-control", placeholder=form.second_field.form.day.label.text) }}
            </div>
            <div class="col-md-4">

                {{ form.second_field.form.year(class="form-control", placeholder=form.second_field.form.year.label.text) }}
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group">
            {{ form.third_field.label }}
            <div class="col-md-4">
                 {{ form.third_field.form.month(class="form-control", placeholder=form.third_field.form.month.label.text) }}
            </div>
            <div class="col-md-4">

                {{ form.third_field.form.day(class="form-control", placeholder=form.third_field.form.day.label.text) }}
            </div>
            <div class="col-md-4">
                {{ form.third_field.form.year(class="form-control", placeholder=form.third_field.form.year.label.text) }}
            </div>
        </div>
    </div>
{% endblock %}