{% extends "single_table_display.html" %}

{% block content_form %}
    <div class="jumbotron bg-dark text-light" style="font-family: stfont2">
        <fieldset>
            <legend>{{header}}</legend>
            {% if updating %}
            <form action="/edit-actors?id={{id}}" method="POST">
            {% else %}
            <form action=method="POST">
            {% endif %}
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <div class="form-row col-md-4">
                    {{ form.fname_field.label }}{{ form.fname_field(class="form-control") }}
                    {{ form.lname_field.label }}{{ form.lname_field(class="form-control") }}                   
                    </div>
                    <div class="form-row col-md-3">
                        {{ form.birthday_field.label }}{{ form.birthday_field(class="form-control") }}
                    </div>
                    <div class="form-row col-md-8">
                        {{ form.imdb_field.label }}{{ form.imdb_field(class="form-control") }}
                    </div>
                    <div class="form-row col-md-2 btn">
                        {{ form.submit(class="btn btn-info", style="width: 100%;") }}
                    </div>
                </div>                  
            </form>
        </fieldset>
    </div>
{% endblock %}