{% extends "non_landing_page.html" %}

{% block inner_content %}
  <!-- Form to Submit a New Character -->
  <div style="margin-bottom: 2rem; width: 700px;">    
    <form class="form">
      <fieldset>
        <legend>Enter a New Character</legend>
        <label for="fname">First Name:</label><br>
        <input type="text" name="fname" id="fnameInput" required="required" class="input" style="margin-left:0px;width:200px"><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" name="lname" id="lnameInput" class="input" style="margin-left:0px;width:200px"><br>
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="titleInput" required="required" class="input" style="margin-left:0px;width:200px"><br>
        <label for="bio">Bio Page:</label><br>
        <input type="text" name="bio" id="bioInput" class="input" style="margin-left:0px;width:600px"><br>
        <label for="title">Description:</label><br>
        <textarea name="description" rows="6" cols="30"></textarea><br>        
        <input id="addCharacterSubmit" type="submit" style="margin:0.5rem 0 0.2rem;">
      </fieldset>
    </form>
  </div>
  <!-- Optional Table filtering -->
  <div style="margin-bottom: 2rem; width: 700px;">
    <form id='filter_people' action='' method=''>
      <fieldset>
        <legend>Filtering</legend>    
        <label> Filter by First Name:</label><br>
        <select id='fnameFilter' name="fname">
          <option value="0">None</option>
          <option value="1">James</option>
          <option value="2">Spock</option>
          <option value="3">Hikaru</option>
        </select><br>
        <label> Filter by Last Name:</label><br>
        <select id='lnameFilter' name="lname">
          <option value="0">None</option>
          <option value="1">Kirk</option>
          <option value="3">Sulu</option>
        </select><br>
        <input type="button" value="Filter" onclick="filterPeopleByName()" style="margin:0.5rem 0 0.2rem;"> 
        <input type="button" value="Reset" onclick="resetTable()" style="margin:0.5rem 0 0.2rem;">    
      </fieldset>      
    </form>
  </div>
  <!-- Table of Existing Characters -->
  <div>
    <h3>Current Characters:</h3>
    <table style="border-style:solid;">
        <thead> 
            <th style="border-style:solid; width: 150px; border-color: black; text-align: center;">First Name</th> 
            <th style="border-style:solid; width: 150px; border-color: black; text-align: center;">Last Name</th> 
            <th style="border-style:solid; width: 150px; border-color: black; text-align: center;">Ttile</th>
            <th style="border-style:solid; width: 150px; border-color: black; text-align: center;">Bio Page</th>
            <th style="border-style:solid; width: 150px; border-color: black; text-align: center;">Description</th>
        </thead> 
        <tbody>
          <!-- Add row for each character currently in database  with edit/delete buttons -->
        </tbody> 
    </table> 
  </div>
{% endblock %}