{% extends "single_table_display.html" %}

{% block content_form %}
    <div class="jumbotron bg-dark text-light" style="font-family: stfont2">
        <fieldset>
            <legend>{{ header}}</legend>
            <form method="POST">
                {{ form.hidden_tag() }}
                {% block form_specifics %}

                {% endblock %}
                <div class="row">
                    <div class="col col-md-4 right">
                        {{ form.submit(class="btn btn-info", style="width: 100%;") }}
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}