{% extends "single_table_display.html" %}

{% block content_form %}
<div class="jumbotron bg-dark text-light">
    <fieldset>
        <legend>{{ header}}</legend>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% block form_specifics %}

            {% endblock %}
            <div class="form-row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    {{ form.submit(class="btn btn-info", style="width: 100%;") }}
                </div>
            </div>
        </form>
    </fieldset>
</div>