{% extends "non_langing_page.html" %}

{% block content %}
    <p><a href="url_for('add_species')"></a></p>
    <p><a href="url_for('add_affiliation')"></a></p>
    <p><a href="url_for('add_series')"></a></p>
    <p><a href="url_for('add_location')"></a></p>
    <p><a href="url_for('add_character')"></a></p>
    <p><a href="url_for('add_actor')"></a></p>
    <p><a href="url_for('link_actor_char')"></a></p>
    <p><a href="url_for('link_char_species')"></a></p>
    <p><a href="url_for('link_char_aff')"></a></p>
    <p><a href="url_for('link_char_series')"></a></p>
    <p><a href="url_for('link_to_location')"></a></p>
{% endblock %}
