<!--deprecated-->
{% extends "single_table_display.html" %}

{% block content_form %}
    <div class="jumbotron bg-dark text-light" style="font-family: stfont2">
        <fieldset>
            <legend>{{ header}}</legend>
            <form method="POST">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="{{field_one_text}}">{{field_one_text}}</label>
                        <input type="text" class="form-control" id= "{{field_one_text}}" placeholder="{{field_one_text.lower()}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="{{field_two_text}}">{{field_two_text}}</label>
                        <input type="text" class="form-control" id ="{{field_two_text}}" placeholder="{{field_two_text.lower()}}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 right">
                        <input  type="submit" class="btn btn-info" style="width: 100%;">
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}