{% extends "non_landing_page.html" %}

{% block inner_content %}
{% if form %}
    {% block content_form %}

    {% endblock %}
{% endif %}
<div class="jumbotron bg-dark text-light federation">
    <div class="container">
        <form method="POST">
            {% if query_has_value %}
                <table class="table table-hover table-dark table-bordered" id="dark-table">
                    <thead>
                        <tr>
                            {% for value in column_names %}
                                <th scope="col">
                                    {{value}}
                                </th>
                            {% endfor %}
                            <th scope="col" colspan="2" class="w-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in query_res %}
                    <tr>
                        {% for cell in item.table_values %}
                            <td class="align-middle">
                                {% if "IMDB" in cell %}
                                    <a href="{{cell}}">IMDB</a>
                                {% else %}
                                    {{cell}}
                                {% endif %}
                            </td>
                        {% endfor %}
                        {% if allow_update %}
                        <td class="align-middle" style="max-width: 25%;"><input type="submit" name="delete_button" class="btn btn-outline-info btn-sm" value="Update {{item.name}}"
                                   formaction="/{{target}}?update_no={{item.id}}" style="width: 100%;"></td>
                        {% endif %}
                        <td class="align-middle" style="max-width: 25%;"><input type="submit" name="delete_button" class="btn btn-outline-danger btn-sm" value="Delete {{item.name}}"
                                   formaction="/{{target}}?delete_no={{item.id}}" style="width: 100%;"></td>
                    </tr>
                    </tbody>                            
                    {% endfor %}
                </table>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
