<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.field.label }}{{ form.field() }}</p>
    <p>{{ form.submit() }}</p>
</form>

<form method="POST">
    {% if query_res %}
        <table>
            <thead>
                <tr>
                    {% for value in column_names %}
                        <th>{{value}}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for item in query_res %}
                <tr>
                    {% for cell in item.table_values %}
                        <td>{{cell}}</td>
                    {% endfor %}
                    <td>{{item.form.submit()}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</form>

</body>
</html>