{% extends "non_landing_page.html" %}

{% block inner_content %}
{% if form %}
    {% block content_form %}

    {% endblock %}
{% endif %}
<div class="jumbotron bg-dark text-light" style="font-family: stfont2">
    <div class="container">
        <form method="POST">
            {% if query_has_value %}
                <table class="table table-hover table-dark table-bordered">
                    <thead>
                        <tr>
                            {% for value in column_names %}
                                <th scope="col">{{value}}</th>
                            {% endfor %}
                            <th scope="col" style="max-width: 25%;">Update</th>
                            <th scope="col" style="max-width: 25%;">Delete</th>
                        </tr>
                    </thead>
                    {% for item in query_res %}
                        <tr>
                            {% for cell in item.table_values %}
                                <td>{{cell}}</td>
                            {% endfor %}
                            <td><input type="submit" name="delete_button" class="btn btn-outline-info btn-sm" value="Update {{item.table_values[0]}}"
                                       formaction="/{{target}}?update_no={{item.id}}" style="width: 100%;"></td>
                            <td><input type="submit" name="delete_button" class="btn btn-outline-danger btn-sm" value="Delete {{item.table_values[0]}}"
                                       formaction="/{{target}}?delete_no={{item.id}}" style="width: 100%;"></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}